<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <app-exercice-a1></app-exercice-a1> -->
<!-- <app-exercice-a2></app-exercice-a2> -->
<!-- <app-exercice-a3></app-exercice-a3> -->
<!-- <app-exercice-a4></app-exercice-a4> -->
<!-- <app-exercice-a5></app-exercice-a5> -->
<app-exercice-a7></app-exercice-a7>
