$input-border-width: 2px;

.form-control {
  padding: 1rem 0 0;
  border: $input-border-width solid transparent;
  margin-bottom: 1rem;

  .icon-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    > :nth-child(1) {
      flex: 1 0 auto;
    }

    > :nth-child(2) {
      flex: 1 0 32px;
      width: 32px;
      height: 32px;
      transform: translateX(-64px);
      margin-top: 0.5rem;
    }
  }
}

input::placeholder {
  color: #bbb;
}

.field-error-message {
  margin: 0;
  color: #c00;

  p {
    margin: 0.5rem 0 0;
  }
}

input,
textarea {
  background-color: #fff;
  color: #222;
}

input:not([type="checkbox"], [type="radio"]),
textarea {
  min-width: 480px;
  padding: 0.5rem;
  border: $input-border-width solid #bbb;
  margin-top: 0.5rem;

  &:focus-visible {
    outline: var(--focus-outline);
    transition: border-color 0.3s;
    border-color: #999;
  }
}

input[disabled],
textarea[disabled] {
  opacity: 0.5;
  border: $input-border-width solid #aaa;
}

input[readonly],
textarea[readonly] {
  border: $input-border-width solid transparent;
}

fieldset {
  border: $input-border-width solid #222;
  border-radius: 0.33rem;
  padding: 0 1.5rem 1rem;
  margin-bottom: 1rem;

  legend {
    padding: 0 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

form.show-validation-status {
  input:not([type="checkbox"], [type="radio"]) {
    &.ng-touched:not(form).ng-valid:not(form) {
      background-image: none;

      &:focus {
        background-image: linear-gradient(
          to left,
          var(--clr-success) 10px,
          transparent 10px,
          transparent 0%
        );
      }
    }

    &.ng-touched:not(form).ng-invalid:not(form) {
      background-image: none;

      &:focus {
        background-image: linear-gradient(
          to left,
          var(--clr-danger) 10px,
          transparent 10px,
          transparent 0%
        );
      }
    }
  }
}

input[type="submit"],
button {
  background-color: transparent;
  border: none;
}

.form-actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin-top: 3rem;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--clr-primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, opacity 0.3s;

  &:hover {
    background-color: var(--clr-primary-hover);
    transition: background-color 0.3s;
  }

  &[disabled] {
    opacity: 0.5;
  }
}
