extends ../layouts/layout.pug
block content
  h3 Bienvenue sur le panneau d'administration !
  br
  hr
  br
  h3 Liste des utilisateurs inscrits :
  //- EXERCICE 5 : Modifier cette page pour qu'elle affiche la liste des utilisateurs et permette leur suppression
