
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk&family=Nabla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.titleFont {
    font-family: "Honk";
}

#pFont1 {
    font-family: "Roboto";
}

#pFont2 {
    font-family: "Bungee Spice";
}

#pFont3 {
    font-family: "Nabla";
}
