.topnbot {
    color: darkred;
}

.twonfour {
    background-color: lightblue;
}

.paratopnbot {
    background-color: lightcoral;
}

.paratwonfour {
    color: aquamarine;
}

#bgcone {
    background-color: black;
}

#colorfour {
    color: darkcyan;
}