#div1 {
    background-color: black;
    color: whitesmoke;
}

#div2 {
    background-color: aqua;
    color: brown;
}

#div3 {
    background-color: blue;
    color: red;
}

span {
    display: block;
}

div {
    background-color: antiquewhite;
    color: darkred;
    display: inline;
}