.atomic-element {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}


.symbol {
  font-size: 1.5rem;
  font-weight: bold;
}

.weight {
  text-align: right;
}