<article class="text-container">
  <p>
    La section <strong>JSON Placeholder</strong> utilise une approche simple
    pour tester le fonctionnement des requêtes Ajax dans Angular.
  </p>

  <p>
    Les données sont récupérées depuis le service en ligne
    <strong
      ><a href="https://jsonplaceholder.typicode.com/" target="_blank"
        >JSON Placeholder</a
      ></strong
    >.
  </p>

  <p>
    Pour une approche avancée de la gestion des appels Ajax, voir la section
    <a routerLink="/restaurants">Restaurants de New York</a>.
  </p>

  <h2>Gestion simple des observables</h2>

  <p>
    Cette section utilise une approche simple de la gestion des Observables.
  </p>

  <p>
    Les Observables manipulent des propriétés de classe pour affecter des
    valeurs qui sont exploitées dans la vue.
  </p>

  <p>
    Cette méthode est plus facile à comprendre initialement mais elle est plus
    <strong>impérative</strong> et moins réactive que l’approche basée sur des
    opérateurs.
  </p>

  <h2>Détection de changement</h2>

  <p>
    Cette section utilise la détection de changement par défaut. De cette façon,
    tout changement de valeur sur une propriété de la classe du composant est
    reflété automatiquement dans la vue.
  </p>
</article>
