block append css 
  link(rel="stylesheet", href="/style/navbar.css")
nav
  ul
    li
      a(href="/") Accueil 
    li
      a(href="/users") Utilisateurs 
    li
      a(href="/subscribe") Inscription 
    li
      a(href="/posts") Postes
    li
      a(href="/create-post") Nouveau message
    li
      a(href="/login") Connexion 

//- EXERCICE 3 : Mettre à jour cette page pour afficher de façon conditionnelle les boutons de connexion et de déconnexion quand l'utilisateur est connecté ou déconnecté.