<article class="text-container">
  <p>
    La section <strong>Restaurants de New York</strong> met en œuvre les
    meilleures pratiques d’Angular concernant l’utilisation des requêtes Ajax et
    la détection de changement.
  </p>

  <p>
    Les données sont servies par un serveur Express dédié et une base de données
    MongoDB dédiée.
  </p>

  <h2>Gestion avancée des Observables</h2>

  <p>
    Cette section utilise des combinaisons d’Observables et gère les données
    exclusivement via les sources de données et des combinaisons d’opérateurs
    <strong>RxJS</strong>.
  </p>

  <p>
    Cette approche est plus complexe car elle exige une bonne
    <a href="https://www.learnrxjs.io/" target="_blank"
      >connaissance des différents opérateurs RxJS</a
    >.
  </p>

  <h2>Détection de changement</h2>

  <p>
    Cette approche permet d’utiliser la
    <a
      href="https://angular.dev/guide/components/advanced-configuration#changedetectionstrategy"
      target="_blank"
      >stratégie de détection de changement</a
    >&ngsp;
    <code
      ><a
        href="https://angular.dev/best-practices/skipping-subtrees#using-onpush"
        target="_blank"
        >OnPush</a
      ></code
    >, qui évite à Angular de suivre tous les changements, car on utilise moins
    de liaisons de données.
  </p>
</article>
