extends ../layouts/layout.pug
block append css 
  link(rel="stylesheet", href="/styles/home.css")
block append pageContent
  h1 Bienvenue sur le site
  img(src='/images/still_no_idea_what_im_doing.jpg' alt='Husky graduating and looking confused')
  p
    | Lorem ipsum dolor sit amet consectetur adipisicing elit.
  script(src='scripts/index.js')